* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
  color: #333;
  line-height: 1.6;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    z-index: 100;
    font-family: 'poppins', sans-serif;
}
.logo {
    font-size: 40px;
    scale: (1.5);
    color: #372516;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
    color: rgb(2, 50, 19);
}
nav a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 5rem;
    padding-top: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    position: relative;
}
nav a:hover,
nav a.active {
  border-color: #7bdb81;
  color: #fafafa;
}
.hero {
  background-image: url('image/tonlesap.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.hero h1 {
  font-size: 3.7rem;
  margin-bottom: 0.5rem;
}

.hero h1 span {
  font-style: italic;
  font-weight: 400;
}

.hero p {
  font-size: 2rem;
  line-height: 1.6;
}

.packages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 3rem 10%;
}

.package-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.package-card:hover {
  transform: translateY(-8px);
}

.package-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.days {
  font-size: 0.9rem;
  color: #888;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1.8rem;
}
.package-card p {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}
.price {
  font-weight: bold;
  color: #007bff;
  margin-top: 0.5rem;
}

button {
  background: #007bff;
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

footer {
  background: #1c1c1c;
  color: #ccc;
  padding: 2rem 10%;
  margin-top: 3rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-content h4 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.footer-content ul {
  list-style: none;
}

.footer-content ul li {
  margin: 0.3rem 0;
}

footer p {
  font-size: 0.9rem;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #d4caca;
}

footer .copyright {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #bcb8b8;
}
