* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: url(image/home.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50px;
    padding: 1.5rem 10%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(3px);
    background-color: #8cade7bb;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 40px;
    scale: (1.5);
    color: #372516;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
    color: rgb(2, 50, 19);
}
nav a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 5rem;
    padding-top: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    position: relative;
}
nav a:hover,
nav a.active {
    border-color: #7bdb81;
    color: #fafafa;
}
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 7%;
    min-height: 30vh;
    flex: 1 0 auto;
}
.welcome {
    flex: 1;
    padding-left: 5%;
}
.welcome h1{
    font-size: 45px;
    margin-top: 50px;
    color: #fbd271;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome .tagline{
    font-size: 25px;
    color: #0f4e77;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.welcome p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.welcome div{
    justify-content: center;
    gap: 50px;
    color: #ffffff;
    margin-top: 30px;
    font-size: 20px;
}
.btn {
    display: inline-block;
    padding: 1.2rem 3.5rem;
    background: #1b456a;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 600;
    border: 2px solid #010000;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background: rgb(144, 199, 199);
    box-shadow: 0 0 25px rgba(183, 199, 214, 0.973);
    color: #000000;
}
.gallery {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 5%; 
    top: 58%;
    transform: translateY(-50%);
    z-index: 20;
}
.gallery-item {
    height: 90px; 
    overflow: hidden;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.gallery-item:hover {
    transform: scale(1.05);
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.gallery-item:nth-child(1) { height: 150px; }
.gallery-item:nth-child(2) { height: 160px; }
.gallery-item:nth-child(3) { height: 150px; }
.gallery-item:nth-child(4) { height: 150px; }
footer {
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    flex-shrink: 0;
}